body {
  min-height: 600px;
}
$mediaPath : "/media";
$main-color: #1d89e3;
$main-color-hover: #289bfa;
$white: #ffffff;
$login-short-company-color: #ffffff;
$default-text-color: #7b7b7b;
$facebook-bg-color: #5d84bb;
$google-bg-color: #dd4f43;
